/* The main CSS for Portfolio Free Code Camp project 
Main color source: https://www.google.com/design/spec/style/color.html#color-color-palette
Custom color palette: 
.dark-primary-color    { background: #0097A7; }
.nav-color             { background: #00BCD4; }
.text-primary-color    { color: #FFFFFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.accent-color          { color: #FFC107;}
.link-color            { color: #FFECB3;} 
.link-visited          { color: #B2EBF2;}
.section-divider-color { color: #B2EBF2;}
*/

.screen {
    height: 100vh;
    padding-top: 60px;
}
.cell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.parent {
    display: table;
}
body { 
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.navbar {
    background-color: #00BCD4;
}
.navbar-default .navbar-brand {
    color: #212121;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.navbar-default.navbar-toggle {
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0097A7;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFC107;
    background-color: transparent;
} 
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFECB3;
    background-color: transparent;
}

.mobile-menu {
    color: #FFF;
}
footer {
    background-color: #212121;
    height: 160px;
    position: relative;
}
.subtitle {
    font-weight: 300;
}
h1 {
    font-size: 2em;
    font-weight: 900;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-weight: 900;
    font-size: 1.5em;
}
.divider {
    background-color: #B2EBF2;
    color: #727272;
    height: 200px;
    font-size: 2em;
    margin-top: 2em;
}
.divider > div {
    height: 100%;
}
.divider .parent {
    height: 100%;
    width: 100%;
}
p {
    font-size: 1.2em;
}
.profile-image {
    margin-bottom: 2em;
}
.bold {
    font-weight: 900;
}
#portfolio .parent {
    height: 100%;
    width: 100%;
}
.portfolio-element {
    margin-top: 1em;
}
#portfolio .portfolio-image {
    background-size: cover;
    height: 300px;
}
.item-description {
    background-color: #0097A7;
    height: 300px;
}
.portfolio-element ul {
    list-style: none;
    padding: 0;
    margin: 2em 0 0;
}
.portfolio-element li {
    color: #FFF;
}
.portfolio-element li.title {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 2em;
}
.portfolio-element li.project-description {
    font-size: 1.2em;
    font-weight: 400;
}
#portfolio > :first-child {
    padding-top: 3em;
}
#procreative {
    background: url(/portfolio/images/procreative-big.png) no-repeat;
}
#costa {
    background: url(/portfolio/images/costa-big.png) no-repeat;
}
#thedoer {
    background: url(/portfolio/images/thedoer-big.png) no-repeat;
}
#tribute {
    background: url(/portfolio/images/tribute-big.png) no-repeat;
}
#portfolio-fcc {
    background: url(/portfolio/images/portfolio-big.png) no-repeat;
}
#contact {
    background: url(/portfolio/images/contact-photo.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 0;
    background-color: #212121;
}
footer p {
    color: #FAFAFA;
    position: absolute;
    bottom: 50px;
    right: 25px;
}
#social a.btn-default {
   border-color: transparent;
}
#social.hidden-xs > .row {
    padding-bottom: 10em;
}
#social.visible-xs-block > .row {
    padding-bottom: 2em;
}
.btn-default:hover,
.btn-default:focus {
    background-color: #FFC107;
}
a {
    color: #FFECB3;
}
a:hover,
a:active,
a:focus {
    color: #FFC107;
    text-decoration: none;
}
a:visited {
    color: #B2EBF2;
}
label {
    font-weight: 400;
    color: #FFF;
    font-size: 1.5em;
}
#contact-parent {
    height: 100%;
}
.contact-box {
    background-color: rgba(0, 151, 167, 0.5);
    padding: 2em;
    border-radius: 8px;
}
.contact-box h2 {
    color: #FFF;
}
.contact-box button {
    font-size: 2em;
    background-color: #FFECB3;
}

/* Media Queries*/
@media screen and (max-width: 767px) {
    .navbar-collapse {
        text-align: center;
    }
    .divider {
        height: 160px;
    }
    .navbar-default .navbar-nav>li>a {
       font-size: 1.5em;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media screen and (min-width: 767px) {
    h1 {
        font-size: 3.7em;
    }
    .portfolio-element ul {
        margin: 2em 3em 0;
    }
}